div.container.content {
  margin-bottom: 15px;
  margin-top: 15px;
}

div.card-margin {
  margin-top: 1.25rem;
}

section {
  margin-top: 30px;
}

table {
  margin-top: 20px;
}

.helper-margin-top {
  margin-top: 1.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.rc-steps {
  margin-bottom: 1rem;
}

.card-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
