div.container.content {
  margin-bottom: 15px;
  margin-top: 15px;
}

div.card-margin {
  margin-top: 1.25rem;
}

section {
  margin-top: 30px;
}

.helper-margin-top {
  margin-top: 1.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.rc-steps {
  margin-bottom: 1rem;
}
